In [6]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df=pd.DataFrame(exam_data, index=labels)
df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [6]:
df.head(3)

NameError: name 'df' is not defined

In [14]:
df.dropna()

NameError: name 'df' is not defined

In [10]:
(exam_data , index=labels)
print("name and score:")
print(df[['name', 'score']])

NameError: name 'pd' is not defined

In [9]:
df = pd.DataFrame(exam_data , index=labels)
print("Original rows:")
print(df)
print("\nAppend a new row:")
df.loc['k'] = [1, 'Suresh', 'yes', 15.5]
print("Print all records after insert a new record:")
print(df)
print("\nDelete the new row and display the original  rows:")
df = df.drop('k')
print(df)

NameError: name 'pd' is not defined

In [12]:
print("Original rows:")
print(df)
print("\nDelete the 'attempts' column from the data frame:")
df.pop('attempts')
print(df)

Original rows:

NameError: name 'df' is not defined

In [13]:
df = pd.DataFrame(exam_data , index=labels)
'Succes'=

SyntaxError: invalid syntax (<ipython-input-13-7d020214fbe1>, line 2)

In [15]:
data= pd.DataFrame(exam_data, index=labels)
data.to_cv('data.csv')
new_data=pd.read_csv('Data.csv')
new_data.head(5)

NameError: name 'pd' is not defined